html {
  font-size: 16px;
}

html,
body {
  min-width: 100%;
  display: flex;
  flex-direction: column;
}

*,
*:before,
*:after {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
}

/* container */
.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;

  padding: 10px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

/* header */
.header {
  text-align: center;
  margin-bottom: 50px;
}
