body {
  margin: 0px;
  /* font-family: "Playfair Display", serif; */
  font-size: 14px;
  color: #626262;

  background-color: rgb(250, 198, 198);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0px 0;
}

p {
  margin: 0 0 10px 0;
}

/* container */
.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;

  padding: 10px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

/* header */
.header {
  text-align: center;
  margin-bottom: 50px;
}
